---
title: File Integrity Monitoring Add-on for PCF
owner: Security Engineering
---

Egfg
<strong><%= modified_date %></strong>

The File Integrity Monitoring Add-on for PCF (FIM Add-on) necessary for regulatory purposes if your compliance auditor 
requires File Integrity Monitoring (FIM) protection within the PCF environment. 

For example, auditors sometimes expect that FIM protection be present in an environment that must comply with standards 
such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act 
(HIPAA).

## <a id='snapshot'></a> Feature Snapshot

The following table provides version and version-support information about the FIM Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.23</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 2, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12 or later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.12 or later</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)<sup>*</sup> version(s)</td>
        <td>v1.12 or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and Openstack</td>
    </tr>
</table>

This version of the FIM Add-on is compatible with Canonical Ubuntu 16.04 (Xenial) stemcells.

<div class="note"><strong>Note</strong>: The FIM Add-on for PCF is not supported on Windows.</div>
