---
title: File Integrity Monitoring Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

The File Integrity Monitoring Add-on for PCF (FIM Add-on) may be necessary for regulatory purposes if your compliance auditor
requires File Integrity Monitoring (FIM) protection within the PCF environment.

For example, auditors sometimes expect that FIM protection be present in an environment that must comply with standards
such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act
(HIPAA).

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about the FIM Add-on.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.3.27</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 3, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager_full %> versions</td>
        <td>2.4, 2.5, 2.6, 2.7, and 2.8</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.4, 2.5, 2.6, 2.7, and 2.8</td>
    </tr>
    <tr>
        <td>Compatible Enterprise Pivotal Container Service (PKS) versions</td>
        <td>1.2 and later</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>

<p class="note"><strong>Note</strong>: The FIM Add-on is not supported on Windows.</p>
