---
title: File Integrity Monitoring Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

The File Integrity Monitoring Add-on for PCF (FIM Add-on) may be necessary for regulatory purposes if your compliance auditor
requires File Integrity Monitoring (FIM) protection within the PCF environment.

For example, auditors sometimes expect that FIM protection be present in an environment that must comply with standards
such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act
(HIPAA).

## <a id='snapshot'></a> Feature Snapshot

The following table provides version and version-support information about the FIM Add-on.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.3.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 12, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu Xenial and Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>

<p class="note"><strong>Note</strong>: The FIM Add-on is not supported on Windows.</div>
