---
title: File Integrity Monitoring Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This documentation describes how to install and use the File Integrity Monitoring Add-on for PCF (FIM add-on).

##<a id="overview"></a>Overview

This add-on may be necessary for regulatory purposes if your compliance auditor requires File Integrity Monitoring (FIM) protection within the PCF environment. 
For example, auditors sometimes expect that FIM protection be present in an environment that must comply with standards such as 
Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act (HIPAA).
