---
title: Monitoring FIM Logs
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains sample logs emitted by FIM.

These samples can be used to configure a Security Information and Event Management (SIEM) system
to verify regular activity and generate alerts for file system operations for monitored directories.

##<a id="fim-log-destination"></a> FIM Logs

The log file destination for FIM can be configured, see [Configure the Output Format](./configuration.html#output).

##<a id="fim-logs-messages"></a> Log Message Types

Examples of FIM log messages:

* HEARTBEAT
	<pre class="terminal">
	2019-04-05T16:00:27.353542+00:00 localhost filesnitch[6663]: CEF:0|cloud_foundry|fim|1.0.0|0|file integrity monitoring event|0| fname="" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="FILESNITCH CHECKIN" optype=0 ts=1554480027 severity=0
	</pre>

* CREATE
	<pre class="terminal">
	2019-04-05T15:52:03.296265+00:00 localhost filesnitch[5990]: CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/var/vcap/data/jobs/newfile.txt" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="CREATE" optype=1 ts=1554479523 severity=5
	</pre>

* WRITE
	<pre class="terminal">
	2019-04-05T15:52:22.230901+00:00 localhost filesnitch[5990]: CEF:0|cloud_foundry|fim|1.0.0|2|file integrity monitoring event|5| fname="/var/vcap/data/jobs/file.txt" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="WRITE" optype=2 ts=1554479542 severity=5
	</pre>

* REMOVE
	<pre class="terminal">
	2019-04-05T15:52:15.636353+00:00 localhost filesnitch[5990]: CEF:0|cloud_foundry|fim|1.0.0|4|file integrity monitoring event|5| fname="/var/vcap/data/jobs/file.txt" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="REMOVE" optype=4 ts=1554479535 severity=5
	</pre>

* RENAME
	<pre class="terminal">
	2019-04-05T15:52:28.707094+00:00 localhost filesnitch[5990]: CEF:0|cloud_foundry|fim|1.0.0|8|file integrity monitoring event|5| fname="/var/vcap/data/jobs/file.txt" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="RENAME" optype=8 ts=1554479548 severity=5
	</pre>

* CHMOD
	<pre class="terminal">
	2019-04-05T15:52:03.297424+00:00 localhost filesnitch[5990]: CEF:0|cloud_foundry|fim|1.0.0|16|file integrity monitoring event|5| fname="/var/vcap/data/jobs/newfile.txt" hostname="fim_1/f66479c7-cd37-4a99-b735-f6f41ba55f01" opname="CHMOD" optype=16 ts=1554479523 severity=5
	</pre>


