---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for File Integrity Monitoring (FIM) Add-on for Pivotal Cloud Foundry (PCF).

<%= partial vars.path_to_partial + "/upgrade-planner" %>

## <a id="1-3-27"></a> v1.3.27
**Release Date**: September 3, 2019

### Resolved Issues

This release has the following fix:

* Fixes known issue when rotating FIM logs via logrotate. When creating a log file,
  FIM Add-on now performs an `APPEND`. Previous behaviour used `CREATE` and `OVERWRITE`.

## <a id="1-3-23"></a> v1.3.23
**Release Date**: August 6, 2019

### Features

New features and changes in this release:

* Adds `/boot/grub` and `/root` directories to the default list of directories under monitoring.
* Updates golang dependency to v1.12.7.

### Known Issues
This release has the following issue:

* Issue when opening or writing to FIM logs. When moving old FIM logs to another file,
  it fails to properly do it. Resolved in [v1.3.27](#1-3-27).

## <a id="1-3-4"></a> v1.3.4
**Release Date**: October 12, 2018

<div class="note breaking"><strong>Breaking Change</strong>:
This release has a breaking change in the <code>format</code> configuration option.
 <code>.Map</code> has been removed from the format field names.
 <br>
 Names now use title case,
so that <code>{{.Map.fname}} {{.Map.hostname}} {{.Map.opname}} {{.Map.optype}} {{.Map.ts}}</code>
becomes<br>
<code>{{.Fname}} {{.Hostname}} {{.OpName}} {{.OpType}} {{.Ts}}</code>
</div>

### Features

New features and changes in this release:

* Adds configuration options <code>ignored\_patterns</code> and <code>low\_severity\_patterns</code>

* Improves subdirectory monitoring. The FIM Add-on recursively monitors both subdirectories
that are created while FIM is running and pre-existing subdirectories.

### Fixed Issues

This release fixes the following issue:

* Hostname in logged events

### Known Issues
This release has the following issue:

* Issue when opening or writing to FIM logs. When moving old FIM logs to another file,
  it fails to properly do it. Resolved in [v1.3.27](#1-3-27).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
