---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for File Integrity Monitoring (FIM) Add-on for Pivotal Cloud Foundry (PCF).

## <a id="1-4-0"></a> v1.4.0

**Release Date**: Month DD, 2019

### Features

New features and changes in this release:

*

*

### Security Fixes

This release includes the following security fixes:

* 

### Fixed Issues

This release fixes the following issue:

*

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
