---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for File Integrity Monitoring (FIM) Add-on for Pivotal Cloud Foundry (PCF).

## <a id="132"></a> v1.3.4

**Release Date**: October 11, 2018

### Features

New features and changes in this release:

* Adds configuration options <code>ignored\_patterns</code> and <code>low\_severity\_patterns</code>

* Improves subdirectory monitoring. The FIM Add-on recursively monitors both subdirectories
that are created while FIM is running and pre-existing subdirectories.

### Fixed Issues

This release fixes the following issue:

* Hostname in logged events


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
