---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for File Integrity Monitoring (FIM) Add-on for Pivotal Cloud Foundry (PCF).

## <a id="132"></a> v1.3.2

**Release Date**: October 3, 2018

### Features

New features and changes in this release:

* Adds configuration options <code>ignored_patterns</code> and <code>low_severity_patterns</code>

* Improves subdirectory monitoring

### Fixed Issues

This release fixes the following issue:

* Hostname in logged events


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
dropdown at the top of this page.
