---
title: Troubleshooting Pivotal Cloud Foundry FIM Add-on
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic provides instructions to verify that the FIM add-on works with your Pivotal Cloud Foundry (PCF) 
deployment and general recommendations for troubleshooting.


## <a id='about-troubleshoot-fim'></a>About Troubleshooting FIM

There are two types of issues that can occur with the FIM Add-on for PCF:  

+ The installation of the add-on is not successful.

+ Or, the installation succeeds, but at runtime a detection is not successful. 

This troubleshooting topic provides information on how to ensure your installation is successful and 
how to overcome add-on deployment and configuration problems.

This topic also provides help for troubleshooting the runtime behavior, to ensure that the deployment is being protected in the way
you expect.

## <a id='troubleshoot-clamav'></a>Troubleshoot Filesnitch

### <a id="clamav-installation-issues"></a> FIM Installation Issues

#### Symptom

```
example
```

#### Explanation
Sample

#### Solution
Sample

<hr>

### <a id="clamav-runtime-issues"></a>Filesnitch Runtime Issues

#### Symptom

```
example
```

#### Explanation:


#### Solution

<hr>

#### Symptom
Sample
