---
title: Troubleshooting Pivotal Cloud Foundry FIM Add-on
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic provides instructions to verify that the FIM add-on works with your Pivotal Cloud Foundry (PCF) 
deployment and general recommendations for troubleshooting.


## <a id='about-troubleshoot-fim'></a>About Troubleshooting FIM

This topic provides help for troubleshooting the runtime behavior, to ensure that the deployment is being protected in the way
you expect.


## <a id="clamav-runtime-issues"></a>Filesnitch Runtime Issues

### Symptom

Filesystem events are not reported. The logs are empty.

### Explanation:

Filesnitch might not be running or might be misconfigured.

### Solution

* Check whether `fim` is running. `monit summary` should return the following output on success.

```
The Monit daemon 5.2.5 uptime: 1d 20h 11m

Process 'fim'                       running

```
* If the process isn't running, inspect the contents of `/var/vcap/sys/log/fim/fim.std*.log` files for clues.

<hr>

### Symptom

Filesystem events are not reported from a portion of the filesystem.

### Explanation:

FIM is configured to monitor a set of critical directories in the system. It is not configured to monitor the entire filesystem by default.

### Solution

Refer to this [configuration section](/addon-fim/configuration.html#dirs) for inspecting defaults and instructions on adjusting the list in the runtime manifest.

### Symptom

Filesystem events are noisy during a bosh deployment.

### Explanation:

Filesnitch will report high volume of activity during deployments if there is a high amount of file creation or deletion.

### Solution

As a workaround, you might consider suppressing FIM-based alarms at deployment times.
<hr>
